<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VICKY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">


    <script src="https://kit.fontawesome.com/f7fe14b7d4.js" crossorigin="anonymous"></script>




</head>

<body>


    <div class="">
        <!-- BACKGROUND VIDEO -->
        <video autoplay muted loop id="myVideo" class="top-bg-video">
            <source src="videos/black-theme-bg-video.mp4" type="video/mp4">
        </video>
        <!-- NAVIGATION SECTION -->
        <div class="float-right mt-4 mr-5 font-fam1">
            <a class="nav-links mr-2 " href="#about-section">aboutMe</a>
            <a class="nav-links mr-2 " href="pdf/UPDATED RESUME.pdf">resume</a>
            <a class=" nav-links" href="#contact-section">contactMe</a>
        </div>
        <!-- MY PIC SECTION  -->
        <div class="container content  pt-5">

            <div class="text-center mt-5 pt-5">
                <img class="img-fluid myPic" src="images/myCirclePic.png" alt="My-Image">
            </div>

            <h1 class="text-center text-light font-fam1 letter-sp2 mt-3"><span
                    class="font-4rem my-name">vigneshwar</span></h1>
            <p class="text-center text-light font-fam1 letter-sp2 desig-text">fullStackWebDeveloper | webDesigner</p>

            <div class="text-center mt-2">
                <a class="text-light h4 mr-3" href="https://github.com/vigneshwar1999"><i class="fab fa-github"></i></a>
                <a class="text-light h4 mr-3" href="https://www.linkedin.com/in/vigneshwar-r-01b9581a1"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="text-light h4 mr-3" href="mailto:vickynjr7110@gmail.com"><i class="fas fa-envelope"></i></a>
                <a class="text-light h4" href="https://www.instagram.com/v.i.c.k.y.n.j.r"><i
                        class="fab fa-instagram"></i></i></a>
            </div>

        </div>

        <!-- SECTION 1 -->

        <div class="container about-me-main-sec1 ">
            <div class="about-me-sec1  py-5 mb-5 text-center font-fam1 text-light">

                <h1 class="letter-sp2 text-light font-weight-bold">hiThere 👋</h1>
                <p class="text-center h5 mt-5 font-15rem">I'm Vigneshwar from India!</p>
                <p class="h5 font-15rem mt-3">I am a full stack web developer and web designer.</p>
                <p class="h5 font-15rem mt-3 lineh">My main areas of expertise includes <strong class="text-light">MERN stack,
                        Javascript, Jquery, HTML5, CSS3, Bootstrap4</strong>.</p>
            </div>
        </div>
        <!-- ABOUT SECTION  -->

        <div class=" aboutme-heading-sec bg-light pt-2 pb-5">

            <h1 class="text-dark font-weight-bold text-center letter-sp5 mt-5 aboutme-sub-sec hideme">SKILLS</h1>

            <div class="container pt-5">

                <div class="row">

                    <div class="col-lg-3 text-center">
                        <img class="img-fluid mt-3" src="images/mongo.png" alt="MongoDB-logo">
                    </div>


                    <div class="col-lg-3 text-center">
                        <img class="img-fluid" src="images/express.png" alt="Express-logo">
                    </div>


                    <div class="col-lg-3 text-center">
                        <img class="img-fluid mt-3" src="images/react.png" alt="React-logo">
                    </div>


                    <div class="col-lg-3 text-center">
                        <img class="img-fluid mt-3" src="images/node.png" alt="Node-logo">
                    </div>

                </div>

                <div class="row mt-5">

                    <div class="col-lg-3 text-center">
                        <img class="img-fluid mt-5" src="images/mongoose.png" alt="Mongoose-logo">
                    </div>

                    <div class="col-lg-3 text-center">
                        <img class="img-fluid" src="images/sql.png" alt="sql-logo">
                    </div>

                    <div class="col-lg-3 text-center">
                        <img class="img-fluid mt-4" src="images/ejs.png" alt="Ejs-logo">
                    </div>

                    <div class="col-lg-3 text-center">
                        <img class="img-fluid mt-3" src="images/js.png" alt="JS-logo">
                    </div>





                </div>

                <div class="row mt-5">



                    <div class="col-lg-3 text-center">
                        <img class="img-fluid mt-5" src="images/jquery.png" alt="Jquery-logo">
                    </div>


                    <div class="col-lg-3 text-center">
                        <img class="img-fluid mt-1" src="images/bootstrap.png" alt="Bootstrap-logo">
                    </div>

                    <div class="col-lg-3 text-center">
                        <img class="img-fluid" src="images/css.png" alt="Css-logo">
                    </div>

                    <div class="col-lg-3 text-center">
                        <img class="img-fluid mt-4" src="images/html.png" alt="html-logo">
                    </div>

                </div>

                <div class="row mt-5">



                    <div class="col-lg-3 text-center">
                        <img class="img-fluid" src="images/github.png" alt="Github-logo">
                    </div>

                </div>

                <!-- <div class="container-fluid experience-sec hideme mt-5">

            <div class="row">

                <div class="col-12  pt-5 text-center">

                    <h1 class="font-4rem letter-sp2 text-center text-light  ">EXPERIENCES</h1>
                </div>
            </div>
        </div> -->

                <!-- <div class="row px-5 pt-5 experience-sec">

            <div class="col-lg-4 border-right border-secondary">
                <div class="text-light">
                    <h4><i class="fa fa-building mr-3" aria-hidden="true"></i>JUZ LYK TAT</h4>
                    <h6><i class="fa fa-briefcase h4  mr-3" aria-hidden="true"></i>WEB DEVELOPER</h6>
                    <h6><i class="fa fa-calendar h4 mr-3" aria-hidden="true"></i>SEPTEMBER 2020 -- PRESENT</h6>
                    <p><i class="fa fa-desktop h4 mr-3 mt-1" aria-hidden="true"></i>Job responsibilities :
                    <ol class="ml-5">
                        <li>Devlopment using MERN stack .</li>
                        <li class="mt-2">Writing clean, functional code on the front- and back-end .</li>
                        <li class="mt-2">Creating responsive websites using bootstrap4, javscript, jquery, css3, html5 .
                        </li>
                        <li class="mt-2">Website and software application designing, building, or maintaining .</li>
                    </ol>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 pl-5 border-right border-secondary">

                <div class="text-light">
                    <h4><i class="fa fa-building mr-3" aria-hidden="true"></i>ITCS TECHNOLOGIES ( intern )</h4>
                    <h6><i class="fa fa-briefcase h4  mr-3" aria-hidden="true"></i>WEB DEVELOPER AND DESIGNER</h6>
                    <h6><i class="fa fa-calendar h4 mr-3" aria-hidden="true"></i>MAY 2020 -- JUL 2020</h6>
                    <p><i class="fa fa-desktop h4 mr-3 mt-1" aria-hidden="true"></i>Job responsibilities :
                    <ol class="ml-5">
                        <li>Creating and maintaining e-commerce sites.</li>
                        <li class="mt-2">Creating responsive websites.</li>
                    </ol>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 pl-5">
                <div class="text-light">
                    <h4><i class="fa fa-building mr-3" aria-hidden="true"></i>COGNIZANT TECHNOLOGY SOLUTIONS</h4>
                    <h6><i class="fa fa-briefcase h4  mr-3" aria-hidden="true"></i>PROGRAMMER TRAINEE</h6>
                    <h6><i class="fa fa-calendar h4 mr-3" aria-hidden="true"></i>JUL 2019 -- APR 2020</h6>
                    <p><i class="fa fa-desktop h4 mr-3 mt-1" aria-hidden="true"></i>Job responsibilities :
                    <ol class="ml-5">
                        <li>Worked as a JAVA enhancement support programmer.</li>
                        <li class="mt-2">Code new programs, enhance existing programs and/or integrate packaged vendor
                            solutions with existing systems. .</li>
                        <li class="mt-2">Used Scrum Agile Methodology in my work.</li>
                        <li class="mt-2">Analyze, troubleshoot and resolve complex production application defects.</li>
                        <li class="mt-2">Documents, tests (unit and integration), implements and provides on-going
                            support for the applications.</li>
                    </ol>
                    </p>
                </div>
            </div>

        </div> -->


            </div>


            <!-- EXPERIENCE SECTION  -->


        </div>



        <div class="experience-heading-sec  pt-2 pb-5 ">

            <h1 class="text-light font-weight-bold text-center letter-sp5 mt-5 aboutme-sub-sec hideme">EXPERIENCES
            </h1>
            <div class="container mt-5">



                <div class="row">

                    <div class="col-2">

                        <div class="float-right">
                            <div class="circle-current bg-light rounded-circle"> </div>
                            <div class="bg-light vertical-line"></div>
                        </div>



                    </div>

                    <div class="col-10">

                        <div class="row no-gutters exp-secs px-3 pt-3 ">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="text-dark">
                                    <h6><i class="fa fa-building mr-3" aria-hidden="true"></i>JUZ LYK TAT</h6>
                                    <h6><i class="fa fa-briefcase   mr-3" aria-hidden="true"></i>WEB DEVELOPER</h6>
                                    <h6><i class="fa fa-calendar mr-3" aria-hidden="true"></i>SEPTEMBER 2020 -- PRESENT
                                    </h6>
                                </div>

                            </div>

                            <div class="col-lg-8 col-md-8 col-12">
                                <p><i class="fa fa-desktop mr-3 mt-1" aria-hidden="true"></i>Job responsibilities :
                                <ol class="ml-5">
                                    <li>Devlopment using MERN stack .</li>
                                    <li class="mt-2">Writing clean, functional code on the front- and back-end .</li>
                                    <li class="mt-2">Creating responsive websites using bootstrap4, javscript, jquery,
                                        css3,
                                        html5 .
                                    </li>
                                    <li class="mt-2">Website and software application designing, building, or
                                        maintaining .
                                    </li>
                                </ol>
                                </p>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-2">

                        <div class="float-right">
                            <div class="circle bg-light rounded-circle"> </div>
                            <div class="bg-light vertical-line"></div>
                        </div>



                    </div>

                    <div class="col-10">

                        <div class="row no-gutters exp-secs px-3 pt-3">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="text-dark">
                                    <h6><i class="fa fa-building mr-3" aria-hidden="true"></i>ITCS TECHNOLOGIES</h6>
                                    <h6><i class="fa fa-briefcase   mr-3" aria-hidden="true"></i>WEB DEVELOPER</h6>
                                    <h6><i class="fa fa-calendar mr-3" aria-hidden="true"></i>MAY 2020 -- JUL 2020
                                    </h6>
                                </div>

                            </div>

                            <div class="col-lg-8 col-md-8 col-12">
                                <p><i class="fa fa-desktop mr-3 mt-1" aria-hidden="true"></i>Job responsibilities :
                                <ol class="ml-5">
                                    <li>Creating responsive websites .</li>
                                    <li class="mt-2">Writing clean, functional code on the front- and back-end .</li>
                                    <li class="mt-2"> Development using bootstrap4, javscript, jquery,
                                        css3,html5 .
                                    </li>
                                    <li class="mt-2">Website and software application designing, building, or
                                        maintaining .
                                    </li>
                                </ol>
                                </p>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col-2">

                        <div class="float-right">
                            <div class="circle bg-light rounded-circle"> </div>
                        </div>



                    </div>

                    <div class="col-10">

                        <div class="row no-gutters exp-secs  px-3 pt-3">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="text-dark">
                                    <h6><i class="fa fa-building mr-3" aria-hidden="true"></i>COGNIZANT</h6>
                                    <h6><i class="fa fa-briefcase   mr-3" aria-hidden="true"></i>PROGRAMMER TRAINEE</h6>
                                    <h6><i class="fa fa-calendar mr-3" aria-hidden="true"></i>JUL 2019 -- APR 2020
                                    </h6>
                                </div>

                            </div>

                            <div class="col-lg-8 col-md-8 col-12">
                                <p><i class="fa fa-desktop mr-3 mt-1" aria-hidden="true"></i>Job responsibilities :
                                <ol class="ml-5">
                                    <li>Worked as a JAVA enhancement support programmer.</li>
                                    <li class="mt-2">Code new programs and enhance existing programs.</li>
                                    <li class="mt-2">Used Scrum Agile Methodology in my work.</li>
                                    <li class="mt-2">Analyze, troubleshoot and resolve complex production application
                                        defects.</li>
                                </ol>
                                </p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- ABOUT ME SECTION  -->

        <section id="about-section">

            <div class="about-me-main-sec  pb-5">
                <h1 class="text-light font-weight-bold text-center letter-sp5 mt-5  hideme pt-5">aboutME
                </h1>
                <div class="container">



                    <div class="row mt-5">

                        <div class="col-lg-6">
                            <img class="img-fluid" src="images/myfinalpic.png" alt="My-Image">
                        </div>

                        <div class="col-lg-6 font-15rem text-justify text-light">
                            <p><em class="text-danger letter-sp2">Howdy and Welcome.</em> This is Vigneshwar from India,
                                currently working as a full stack web
                                developer. I am a graduate student in the Bachelor of Computer Science at the SRM
                                University.</p>

                            <p>I create successful websites that are fast, easy to use, and built with best practices. I
                                work to make a better web, one that is fast and
                                easy to use. </p>

                            <p>I love working using <strong class="">MERN</strong> stack.</p>

                            <div class="row mt-5">

                                <div class="col-8">
                                    <h5>EDUCATION :</h5>
                                    <h6 class="mt-3">Bachelor of Computer Applications.</h6>
                                    <h6>JUL 2016 -- APR 2019</h6>
                                    <h6>CGPA : 6.52</h6>
                                </div>

                                <div class="col-4">

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!-- CONTACT FORM SECTION  -->

        <div id="contact-section"class="contact-main-sec pb-5">
            <h1 class="text-light font-weight-bold text-center letter-sp5 mt-5  hideme pt-5">contactMe
            </h1>
            <div class="container mt-5">

                <div class="row">

                    <div class="col-12">

                        <form action="/email" method="post">

                            <div class="row">

                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control p-3" id="fullname"
                                            aria-describedby="emailHelp" placeholder="Fullname" required>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control p-3" id="email"
                                            aria-describedby="emailHelp" placeholder="Enter email" required>
                                    </div>
                                </div>

                            </div>



                            <div class="form-group">
                                <label for="exampleInputPassword1">Message</label>
                                <textarea class="form-control w-100" id="text" placeholder="Enter Your Message Here..."
                                    rows="10" required></textarea>
                            </div>

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-outline-light btn-lg text-center">Submit</button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
        </div>

        <footer class="text-center border-top border-secondary py-3">
            <p class="mt-3">&copy; 2020 Vigneshwar. All rights reserved</p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <script src="script/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            $('form').on('submit', (e) => {
                e.preventDefault();

                const fullname = $('#fullname').val();
                const email = $('#email').val();
                const text = $('#text').val();

                const data = {
                    fullname,
                    email,
                    text
                };

                $.post('/email', data, function () {
                    console.log('Server recieved our data');
                });
            });
            // document.getElementById('#form-data').reset();
        </script>






</body>

</html>